:root {
  --bg-white: #fff;
  --text-color: #000;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// text styles
.small {
  font-size: 0.916rem;
  line-height: 1.25rem;
}

.medium {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
}

.large {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
// card styles
body {
  background-color: var(--bg-white);
  font-size: 16px;
  display: flex;
  justify-content: center;

  .card__container {
    background-color: var(--bg-white);
    width: 23.5rem;
    height: 13.5rem;
    padding: 0.8rem;

    .card__banner {
      border: 0.125rem solid var(--text-color);
      width: auto;
      height: 11.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
