$bg-white: #fff;
$text-color: #000;

$body-font-size: 16px;

$text-size-11pt: 0.92rem;
$text-size-16pt: 1.33rem;
$text-size-20pt: 1.67rem;
$text-size-28pt: 2.33rem;
$text-size-30pt: 2.5rem;
$text-size-36pt: 3rem;
$text-size-48pt: 4rem;

$text-lh-15pt: 1.25rem;
$text-lh-20pt: 1.67rem;
$text-lh-24pt: 2rem;
$text-lh-32pt: 2.67rem;
$text-lh-34pt: 2.83rem;
$text-lh-40pt: 3.33rem;
$text-lh-52pt: 4.33rem;

$text-letterspacing-100pt: 0.4rem;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: $body-font-size;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}

// card styles
body {
  font-family: "Courier New", monospace;
  background-color: $bg-white;
  display: flex;
  justify-content: center;
  // banner card styles
  .card {
    background-color: $bg-white;
    width: 23.5rem;
    height: 13.5rem;
    padding: 0 15px;

    @media (min-width: 1280px) {
      padding-bottom: 16px;
      padding-right: 16px;
    }

    @media (min-width: 1920px) {
      // grid-column-start: 9;
      padding-bottom: 16px;
      padding-right: 16px;
      width: 808px;
      height: 330px;
    }

    &__banner {
      border: 0.125rem solid $text-color;
      width: auto;
      height: 11.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media (min-width: 1280px) {
        width: 537px;
        height: 285px;
      }

      @media (min-width: 1920px) {
        width: 808px;
        height: 330px;
      }
    }
    &__text {
      text-transform: uppercase;
      text-align: center;
      font-size: $text-size-16pt;
      line-height: $text-lh-20pt;
      letter-spacing: $text-letterspacing-100pt;

      @media (min-width: 1280px) {
        font-size: $text-size-20pt;
        line-height: $text-lh-24pt;
      }

      @media (min-width: 1920px) {
        font-size: $text-size-28pt;
        line-height: $text-lh-32pt;
      }
    }
  }
  //product card styles mobile
  .product-card {
    display: flex;
    flex-direction: column;
    // width: 10.3rem;

    &__info {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
    }

    &__image {
      width: 165px;
      height: 186px;
      // width: 10.3rem;
      // height: 11.6rem;
      background-color: red;

      &__title,
      &__price {
        font-size: $text-size-11pt;
        line-height: $text-lh-15pt;
      }

      @media (min-width: 1280px) {
        width: 221px;
        height: 250px;
      }

      @media (min-width: 1920px) {
        width: 292px;
        height: 330px;

        &__title,
        &__price {
          font-size: $text-size-16pt;
          line-height: $text-lh-20pt;
        }
      }
    }
  }
  //postcard styles
  .postcard {
    width: 375px;
    height: 272px;
    padding: 0 0 15px 15px;
    background-color: gray;
    display: flex;
    align-items: end;
    // background-image: url("../images/postcard.png");

    &__btn {
      width: auto;
      height: auto;
      background-color: $bg-white;
      border: 1px solid $text-color;
      padding: 7px 9px;
    }

    &__text {
      text-transform: uppercase;
      text-align: center;
      color: $text-color;
      font-size: $text-size-16pt;
      line-height: $text-lh-20pt;
      letter-spacing: $text-letterspacing-100pt;
    }

    @media (min-width: 1280px) {
      width: 640px;
      height: 450px;

      &__text {
        font-size: $text-size-20pt;
        line-height: $text-lh-24pt;
        letter-spacing: $text-letterspacing-100pt;
      }
    }

    @media (min-width: 1920px) {
      width: 960px;
      height: 673px;

      &__text {
        font-size: $text-size-28pt;
        line-height: $text-lh-32pt;
        letter-spacing: $text-letterspacing-100pt;
      }
    }
  }
  //event card styles
  // .event-card {
  //   width: 375px;
  //   height: 130px;
  //   padding: 15px;
  //   border-top: 1px solid $text-color;
  //   border-bottom: 1px solid $text-color;
  //   background-color: pink;

  //   &__title {
  //     text-transform: uppercase;
  //     font-size: $text-size-20pt;
  //     line-height: $text-lh-40pt;
  //   }

  //   &__text {
  //     font-size: $text-size-11pt;
  //     line-height: $text-lh-15pt;
  //   }
  // }

  .subscribe-card {
    width: 100%;
    height: 540px;
    padding: 15px;
    background-image: url("../images/okt1.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__wrapper {
      width: 345px;
      height: 138px;
      background-color: #fff;
      border: 1px solid #000;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      overflow: hidden;
    }

    &__top {
      width: 55%;
      height: 35px;
      border-bottom: 1px solid #000;
      rotate: 338deg;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #000;
        position: absolute;
        left: -149px;
        top: -61px;
        rotate: 45deg;
      }
    }

    &__bottom {
      width: 100%;
      background-color: #fff;
      border-top: 1px solid #000;
      display: flex;
    }

    &__left {
      width: 65%;
      border-right: 1px solid #000;
      padding: 5px;
    }

    &__right {
      width: 35%;
      padding: 5px;
    }

    &__btn {
      font-size: $text-size-11pt;
      line-height: $text-lh-15pt;
    }

    &__input {
      border: none;
      background-color: transparent;

      &::placeholder {
        color: #000;
        font-size: $text-size-11pt;
        line-height: $text-lh-15pt;
      }

      &:focus {
        outline: none;
      }
    }
    @media (min-width: 1280px) {
      width: 1280px;
      height: 490px;
      display: flex;
      align-items: flex-end;
    }

    @media (min-width: 1920px) {
      width: 1920px;
      height: 735px;
    }
  }
  .contacts {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: pink;
    padding: 15px;
    font-size: 10px;
    line-height: 15px;

    &__info {
      width: 375px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__social {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }

    @media (min-width: 1280px) {
      width: 100%;
      height: 57px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &__info {
        width: 600px;
        position: relative;
        flex-direction: column;
      }

      &__phone {
        position: absolute;
        top: 15px;
        right: 110px;
      }
    }
    @media (min-width: 1920px) {
      width: 1920px;
      height: 85px;
      padding: 24px;
    }
  }

  .interview-card {
    width: 165px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__image {
      width: 165px;
      height: 93px;
      background-color: pink;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
    }

    &__text {
      font-size: 11px;
      line-height: $text-lh-15pt;
    }
    &__btn {
      border: 1px solid #000;
      padding: 5px 15px;
      font-size: 11px;
    }

    @media (min-width: 1280px) {
      width: 284px;
      height: 80px;
      flex-direction: row;
      gap: 15px;

      &__image {
        width: 142px;
        height: 80px;
      }
    }

    @media (min-width: 1920px) {
      width: 450px;
      height: 140px;
      flex-direction: row;
      gap: 24px;

      &__image {
        width: 246px;
        height: 140px;
      }
    }
  }

  .main-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__header {
      width: 100%;
      height: 38px;
      background-color: pink;
      padding: 0 15px;
      place-content: center;
    }

    &__input {
      background-color: transparent;
      border: none;

      &::placeholder {
        color: #000;
        font-size: $text-size-11pt;
        line-height: $text-lh-15pt;
      }
    }

    &__swiper {
      overflow-x: auto;
      display: flex;
      width: fit-content;
      gap: 15px;
      padding: 0 15px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__slide {
      flex: 0 1 100%;
      width: 315px;
      height: 591px;

      &:nth-child(1) {
        background-color: grey;
      }

      &:nth-child(2) {
        background-color: green;
      }

      &:nth-child(3) {
        background-color: blue;
      }
    }

    &__slide-inner {
      margin: 15px;
    }

    &__slide-text {
      text-transform: uppercase;
      font-size: $text-size-36pt;
      line-height: $text-lh-40pt;
      margin-bottom: 15px;
    }

    &__slide-btn {
      border: 1px solid #000;
      padding: 5px 15px;
      font-size: $text-size-11pt;
    }

    &__footer {
      width: 100%;
      height: 38px;
      background-color: pink;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @media (min-width: 1280px) {
      width: 100%;
      height: 100%;
      display: flex;

      &__swiper {
        gap: 16px;
        padding: 0 16px;
      }

      &__slide {
        width: 1090px;
        height: 760px;
      }

      &__slide-inner {
        margin: 24px;
      }
    }

    @media (min-width: 1920px) {
      width: 100%;
      height: 100%;

      &__swiper {
        gap: 24px;
        padding: 0 24px;
      }

      &__slide {
        width: 1555px;
        height: 1020px;
      }
      &__slide-inner {
        margin: 24px;
      }
    }
  }
}
