$bg-white: #fff;
$text-color: #000;

$body-font-size: 16px;

$text-size-11pt: 0.92rem;
$text-size-16pt: 1.33rem;
$text-size-20pt: 1.67rem;
$text-size-28pt: 2.33rem;
$text-size-30pt: 2.5rem;
$text-size-36pt: 3rem;
$text-size-48pt: 4rem;

$text-lh-15pt: 1.25rem;
$text-lh-20pt: 1.67rem;
$text-lh-24pt: 2rem;
$text-lh-32pt: 2.67rem;
$text-lh-34pt: 2.83rem;
$text-lh-40pt: 3.33rem;
$text-lh-52pt: 4.33rem;

$text-letterspacing-100pt: 0.4rem;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $body-font-size;
}
body {
  font-family: "Consolas", "Roboto", "Helvetica Neue", "Arial", Courier,
    monospace;
  background-color: $bg-white;
  display: flex;
  justify-content: center;
}
.container {
  width: 375px;
  margin: 0 auto;

  @media (min-width: 1280px) {
    width: 1280px;
  }

  @media (min-width: 1920px) {
    width: 1920px;
  }
}
