<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cocktyabr</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <main class="main">
      <div class="slider">
        <div class="slider__inner">
          <div class="slider__slide">
            <img src="../images/okt.jpeg" alt="first slide" />
          </div>
          <div class="slider__slide">
            <img src="../images/okt1.jpeg" alt="second slide" />
          </div>
          <div class="slider__slide">
            <img src="../images/okt.jpeg" alt="third slide" />
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__banner">
          <p class="card__text">
            Shop new<br />
            hardware arrivals
          </p>
        </div>
      </div>
      <section class="items">
        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>
        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>

        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>

        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>
      </section>
      <section class="postcards">
        <div class="postcard">
          <button class="postcard__btn">
            <p class="postcard__text">shop carhartt</p>
          </button>
        </div>
        <div class="postcard">
          <button class="postcard__btn">
            <p class="postcard__text">shop carhartt</p>
          </button>
        </div>
      </section>
      <div class="card banner--2">
        <div class="card__banner">
          <p class="card__text">
            Shop new<br />
            hardware arrivals
          </p>
        </div>
      </div>
      <section class="items items--2">
        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>
        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>
        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>
        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>
      </section>
      <section class="events">
        <div class="event-card">
          <p class="event-card__title">how to nose blunt</p>
          <p class="event-card__text">
            Patchworking together a selection of this seasons perfect quilted
            pieces.
          </p>
          <button class="event-card__btn">Upcoming Event 06.05.20</button>
        </div>
        <div class="event-card">
          <p class="event-card__title">how to nose blunt</p>
          <p class="event-card__text">
            Patchworking together a selection of this seasons perfect quilted
            pieces.
          </p>
          <button class="event-card__btn">Upcoming Event 06.05.20</button>
        </div>
      </section>
      <section class="articles">
        <div class="article-card">
          <img
            class="article-card__image"
            src="../images/okt2.png"
            alt="image"
          />
          <div class="article-card__info">
            <p class="article-card__text">IGGY NYC - Jack Greer</p>
            <button class="article-card__btn">Interview</button>
          </div>
        </div>
        <div class="article-card">
          <img
            class="article-card__image"
            src="../images/okt2.png"
            alt="image"
          />
          <div class="article-card__info">
            <p class="article-card__text">IGGY NYC - Jack Greer</p>
            <button class="article-card__btn">Interview</button>
          </div>
        </div>
        <div class="article-card">
          <img
            class="article-card__image"
            src="../images/okt2.png"
            alt="image"
          />
          <div class="article-card__info">
            <p class="article-card__text">IGGY NYC - Jack Greer</p>
            <button class="article-card__btn">Interview</button>
          </div>
        </div>
        <div class="article-card">
          <img
            class="article-card__image"
            src="../images/okt2.png"
            alt="image"
          />
          <div class="article-card__info">
            <p class="article-card__text">IGGY NYC - Jack Greer</p>
            <button class="article-card__btn">Interview</button>
          </div>
        </div>
      </section>
      <section class="contacts">
        <div class="subscribe-card">
          <div class="subscribe-card__wrapper">
            <div class="subscribe-card__top"></div>
            <div class="subscribe-card__bottom">
              <div class="subscribe-card__left">
                <input
                  type="text"
                  class="subscribe-card__input"
                  placeholder="Enter e-mail"
                />
              </div>
              <div class="subscribe-card__right">
                <button class="subscribe-card__btn">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
        <div class="contacts">
          <div class="contacts__info">
            <p class="contacts__address">
              <a href="https://yandex.com/maps/-/CDblvUMo"
                >Moscow, Bolshaya Molchanovka, 30,</a
              >
            </p>
            <p class="contacts__phone">
              <a href="tel:84951392560">Tel. 8-495-139-25-60</a>
            </p>
            <p class="contacts__date">
              Mon.-Thu. 11.00-21.00, Fri.-Sun. 11-00-22.00
            </p>
          </div>
          <div class="contacts__social">
            <p class="contacts__text"><a href="#">Facebook</a></p>
            <p class="contacts__text"><a href="#">Instagram</a></p>
            <p class="contacts__text"><a href="#">About</a></p>
            <p class="contacts__text"><a href="#">Legal</a></p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
