<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cocktyabr</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <main class="main">
      <div class="slider">
        <div class="slider__inner">
          <div class="slide">slide</div>
          <div class="slide">slide</div>
          <div class="slide">slide</div>
        </div>
      </div>
      <div class="card">
        <div class="card__banner">
          <p class="card__text">
            Shop new<br />
            hardware arrivals
          </p>
        </div>
      </div>
      <!-- <div class="card__container">
        <div class="card__banner">
          <p class="title medium">SHOP NEW</p>
          <p class="title medium">HARDWARE ARRIVALS</p>
        </div>
      </div> -->
      <section class="items">
        <!-- <div class="item">item</div>
        <div class="item">item</div>
        <div class="item">item</div>
        <div class="item">item</div> -->

        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <!-- <div class="product-card__image"></div> -->
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>

        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <!-- <div class="product-card__image"></div> -->
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>

        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <!-- <div class="product-card__image"></div> -->
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>

        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <!-- <div class="product-card__image"></div> -->
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>
      </section>
      <section class="postcards">
        <div class="postcard">
          <button class="postcard__btn">
            <p class="postcard__text">shop carhartt</p>
          </button>
        </div>
        <div class="postcard">
          <button class="postcard__btn">
            <p class="postcard__text">shop carhartt</p>
          </button>
        </div>
      </section>
      <div class="card banner--2">
        <div class="card__banner">
          <p class="card__text">
            Shop new<br />
            hardware arrivals
          </p>
        </div>
      </div>
      <!-- <div class="card__container banner--2">
        <div class="card__banner">
          <p class="title medium">SHOP NEW</p>
          <p class="title medium">HARDWARE ARRIVALS</p>
        </div>
      </div> -->
      <section class="items items--2">
        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <!-- <div class="product-card__image"></div> -->
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>
        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <!-- <div class="product-card__image"></div> -->
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>
        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <!-- <div class="product-card__image"></div> -->
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>
        <div class="product-card">
          <img
            class="product-card__image"
            src="../images/hoodie.jpeg"
            alt="product image"
          />
          <!-- <div class="product-card__image"></div> -->
          <div class="product-card__info">
            <div class="product-card__text">
              <p class="product-card__title">HOCKEY</p>
              <p class="product-card__title">Printed Hoodie</p>
            </div>
            <div class="product-card__price">
              <p class="price">10800P</p>
            </div>
          </div>
        </div>
      </section>
      <section class="events">
        <div class="event-card">
          <p class="event-card__title">how to nose blunt</p>
          <p class="event-card__text">
            Patchworking together a selection of this seasons perfect quilted
            pieces.
          </p>
          <button class="event-card__btn">Upcoming Event 06.05.20</button>
        </div>
        <div class="event-card">
          <p class="event-card__title">how to nose blunt</p>
          <p class="event-card__text">
            Patchworking together a selection of this seasons perfect quilted
            pieces.
          </p>
          <button class="event-card__btn">Upcoming Event 06.05.20</button>
        </div>
      </section>
      <section class="articles">
        <div class="article-card">
          <img
            class="article-card__image"
            src="../images/okt2.png"
            alt="image"
          />
          <!-- <div class="interview-card__image"></div> -->
          <div class="article-card__info">
            <p class="article-card__text">IGGY NYC - Jack Greer</p>
            <button class="article-card__btn">Interview</button>
          </div>
        </div>
        <div class="article-card">
          <img
            class="article-card__image"
            src="../images/okt2.png"
            alt="image"
          />
          <!-- <div class="interview-card__image"></div> -->
          <div class="article-card__info">
            <p class="article-card__text">IGGY NYC - Jack Greer</p>
            <button class="article-card__btn">Interview</button>
          </div>
        </div>
        <div class="article-card">
          <img
            class="article-card__image"
            src="../images/okt2.png"
            alt="image"
          />
          <!-- <div class="interview-card__image"></div> -->
          <div class="article-card__info">
            <p class="article-card__text">IGGY NYC - Jack Greer</p>
            <button class="article-card__btn">Interview</button>
          </div>
        </div>
        <div class="article-card">
          <img
            class="article-card__image"
            src="../images/okt2.png"
            alt="image"
          />
          <!-- <div class="interview-card__image"></div> -->
          <div class="article-card__info">
            <p class="article-card__text">IGGY NYC - Jack Greer</p>
            <button class="article-card__btn">Interview</button>
          </div>
        </div>
      </section>
      <section class="contacts">
        <div class="contacts__image">image</div>
        <div class="contacts__info">info</div>
      </section>
    </main>
  </body>
</html>
