.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  padding: 15px 0;
  overflow: hidden;

  grid-template-areas:
    "s s s s"
    "b b b b"
    "i i i i"
    "p p p p"
    "b2 b2 b2 b2"
    "i2 i2 i2 i2"
    "e e e e"
    "a a a a"
    "c c c c";

  @media (min-width: 1280px) {
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 16px;
    grid-template-areas:
      "s s s s s s s s s s s s s s s s"
      "i i i i i i i i b b b b b b b b"
      "p p p p p p p p p p p p p p p p"
      "b2 b2 b2 b2 b2 b2 b2 b2 i2 i2 i2 i2 i2 i2 i2 i2"
      "e e e e e e e e e e e e e e e e"
      "a a a a a a a a a a a a a a a a"
      "c c c c c c c c c c c c c c c c";
  }

  @media (min-width: 1920px) {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
    grid-template-areas:
      "s s s s s s s s s s s s"
      "i i i i i i i i b b b b"
      "p p p p p p p p p p p p"
      "b2 b2 b2 b2 b2 b2 b2 b2 i2 i2 i2 i2"
      "e e e e e e e e e e e e "
      "a a a a a a a a a a a a "
      "c c c c c c c c c c c c ";
  }
}

.slider {
  grid-area: s;
  // flex: 1 1 auto;
  // width: auto;
  // height: 591px;
  // width: fit-content;
  // grid-row: 1 / 5;
  // grid-column: 0 / 5;
  // padding: 0 15px;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &__inner {
    display: flex;
    width: fit-content;
    gap: 15px;
    padding: 0 15px;
    // overflow-x: scroll !important;

    @media (min-width: 1280px) {
      gap: 16px;
      padding: 0 16px;
    }

    @media (min-width: 1920px) {
      gap: 24px;
      padding: 0 24px;
    }
  }
}

.slide {
  flex: 0 1 100%;
  width: 315px;
  height: 591px;
  // grid-column: 1 / 5;
  // background-color: pink;

  &:nth-child(1) {
    background-color: red;
  }

  &:nth-child(2) {
    background-color: blue;
  }

  &:nth-child(3) {
    background-color: green;
  }

  @media (min-width: 1280px) {
    width: 1090px;
    height: 760px;
  }

  @media (min-width: 1920px) {
    width: 1556px;
    height: 1020px;
  }
}

// card styles

// banner card styles
.card__container {
  grid-area: b;
  // grid-row: 6 / 8;
  background-color: $bg-white;
  padding: 0 15px;
  // width: 23.5rem;
  // height: 13.5rem;

  @media (min-width: 1280px) {
    grid-column-start: 10;
    padding-bottom: 16px;
    padding-right: 16px;
    // width: 537px;
    // height: 285px;
  }

  @media (min-width: 1920px) {
    grid-column-start: 9;
    padding-bottom: 16px;
    padding-right: 16px;
    // width: 808px;
    // height: 330px;
  }

  &.banner--2 {
    grid-area: b2;

    @media (min-width: 1920px) {
      display: none;
    }
  }

  .card__banner {
    border: 0.125rem solid $text-color;
    // width: auto;
    height: 11.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width: 1280px) {
      width: 100%;
      height: 100%;
    }
  }
}
// product card styles mobile
.product__card {
  display: flex;
  flex-direction: column;
  // width: 10.3rem;

  @media (min-width: 1280px) {
    &:last-child {
      display: none;
    }
  }

  @media (min-width: 1920px) {
    &:last-child {
      display: flex;
    }
  }

  .product__info {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }

  .product__image {
    width: 165px;
    height: 186px;
    // width: 10.3rem;
    // height: 11.6rem;
    background-color: red;

    @media (min-width: 1280px) {
      width: 221px;
      height: 250px;
    }

    @media (min-width: 1920px) {
      width: 292px;
      height: 330px;
    }
  }
}

.items {
  grid-area: i;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 15px;

  &.items--2 {
    grid-area: i2;

    @media (min-width: 1920px) {
      display: none;
    }
  }

  @media (min-width: 1280px) {
    flex-wrap: nowrap;
    gap: 16px;
  }

  @media (min-width: 1920px) {
    gap: 24px;
  }
}

.item {
  width: 165px;
  height: 186px;
  background-color: pink;

  @media (min-width: 1280px) {
    width: 221px;
    height: 250px;

    &:last-child {
      display: none;
    }
  }

  @media (min-width: 1920px) {
    width: 292px;
    height: 330px;

    &:last-child {
      display: block;
    }
  }
}

.postcards {
  grid-area: p;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: 1280px) {
    flex-direction: row;
    gap: 0;
  }

  .postcard {
    width: 100%;
    // width: 375px;
    height: 272px;
    background-color: pink;

    @media (min-width: 1280px) {
      // width: 640px;
      // width: 100%;
      height: 450px;
    }

    @media (min-width: 1920px) {
      // width: 960px;
      height: 673px;
    }
  }
}

.events {
  grid-area: e;
  display: flex;
}

.event {
  width: 100%;
  // width: 375px;
  height: 130px;
  background-color: pink;

  &:last-child {
    display: none;
  }

  @media (min-width: 1280px) {
    // width: 640px;

    &:last-child {
      display: block;
    }
  }

  @media (min-width: 1920px) {
    // width: 960px;
    height: 195px;
  }
}

.articles {
  grid-area: a;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 15px;

  @media (min-width: 1280px) {
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 16px;
    padding: 0 16px;
  }

  .article {
    // width: 23%;
    width: 165px;
    height: 123px;
    background-color: pink;

    @media (min-width: 1280px) {
      width: 300px;
      height: 80px;
    }

    @media (min-width: 1920px) {
      width: 500px;
      height: 140px;
    }
  }
}

.contacts {
  grid-area: c;

  // width: 100%;
  display: flex;
  flex-direction: column;

  &__image {
    width: 100%;
    // width: 375px;
    height: 540px;
    background-color: palevioletred;

    @media (min-width: 1280px) {
      // width: 1280px;
      height: 490px;
    }

    @media (min-width: 1920px) {
      // width: 1920px;
      height: 735px;
    }
  }

  &__info {
    width: 100%;
    // width: 375px;
    height: 80px;
    background-color: pink;

    @media (min-width: 1280px) {
      // width: 1280px;
      height: 57px;
    }

    @media (min-width: 1920px) {
      // width: 1920px;
      height: 85px;
    }
  }
}
