<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cocktyabr</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <main class="main">
      <div class="slider">
        <div class="slider__inner">
          <div class="slide">slide</div>
          <div class="slide">slide</div>
          <div class="slide">slide</div>
        </div>
      </div>
      <div class="card__container">
        <div class="card__banner">
          <p class="title medium">SHOP NEW</p>
          <p class="title medium">HARDWARE ARRIVALS</p>
        </div>
      </div>
      <section class="items">
        <!-- <div class="item">item</div>
        <div class="item">item</div>
        <div class="item">item</div>
        <div class="item">item</div> -->

        <div class="product__card">
          <!-- <img class="product__image" src="#" alt="product image" /> -->
          <div class="product__image"></div>
          <div class="product__info">
            <div class="product__text">
              <p class="title small">HOCKEY</p>
              <p class="title small">Printed Hoodie</p>
            </div>
            <div class="product__price">
              <p class="price small">10800P</p>
            </div>
          </div>
        </div>

        <div class="product__card">
          <!-- <img class="product__image" src="#" alt="product image" /> -->
          <div class="product__image"></div>
          <div class="product__info">
            <div class="product__text">
              <p class="title small">HOCKEY</p>
              <p class="title small">Printed Hoodie</p>
            </div>
            <div class="product__price">
              <p class="price small">10800P</p>
            </div>
          </div>
        </div>

        <div class="product__card">
          <!-- <img class="product__image" src="#" alt="product image" /> -->
          <div class="product__image"></div>
          <div class="product__info">
            <div class="product__text">
              <p class="title small">HOCKEY</p>
              <p class="title small">Printed Hoodie</p>
            </div>
            <div class="product__price">
              <p class="price small">10800P</p>
            </div>
          </div>
        </div>

        <div class="product__card">
          <!-- <img class="product__image" src="#" alt="product image" /> -->
          <div class="product__image"></div>
          <div class="product__info">
            <div class="product__text">
              <p class="title small">HOCKEY</p>
              <p class="title small">Printed Hoodie</p>
            </div>
            <div class="product__price">
              <p class="price small">10800P</p>
            </div>
          </div>
        </div>
      </section>
      <section class="postcards">
        <div class="postcard">postcard</div>
        <div class="postcard">postcard</div>
      </section>
      <div class="card__container banner--2">
        <div class="card__banner">
          <p class="title medium">SHOP NEW</p>
          <p class="title medium">HARDWARE ARRIVALS</p>
        </div>
      </div>
      <section class="items items--2">
        <div class="item">item</div>
        <div class="item">item</div>
        <div class="item">item</div>
        <div class="item">item</div>
      </section>
      <section class="events">
        <div class="event">event</div>
        <div class="event">event</div>
      </section>
      <section class="articles">
        <div class="article">article</div>
        <div class="article">article</div>
        <div class="article">article</div>
        <div class="article">article</div>
      </section>
      <section class="contacts">
        <div class="contacts__image">image</div>
        <div class="contacts__info">info</div>
      </section>
    </main>
  </body>
</html>
