*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Consolas", "Roboto", "Helvetica Neue", "Arial", Courier, monospace;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.container {
  width: 375px;
  margin: 0 auto;
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
@media (min-width: 1920px) {
  .container {
    width: 1920px;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  padding: 15px 0;
  overflow: hidden;
  grid-template-areas: "s s s s" "b b b b" "i i i i" "p p p p" "b2 b2 b2 b2" "i2 i2 i2 i2" "e e e e" "a a a a" "c c c c";
}
@media (min-width: 1280px) {
  .main {
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 16px;
    grid-template-areas: "s s s s s s s s s s s s s s s s" "i i i i i i i i b b b b b b b b" "p p p p p p p p p p p p p p p p" "b2 b2 b2 b2 b2 b2 b2 b2 i2 i2 i2 i2 i2 i2 i2 i2" "e e e e e e e e e e e e e e e e" "a a a a a a a a a a a a a a a a" "c c c c c c c c c c c c c c c c";
  }
}
@media (min-width: 1920px) {
  .main {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
    grid-template-areas: "s s s s s s s s s s s s" "i i i i i i i i b b b b" "p p p p p p p p p p p p" "b2 b2 b2 b2 b2 b2 b2 b2 i2 i2 i2 i2" "e e e e e e e e e e e e " "a a a a a a a a a a a a " "c c c c c c c c c c c c ";
  }
}

.slider {
  grid-area: s;
  overflow-x: auto;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slider__inner {
  display: flex;
  width: fit-content;
  gap: 15px;
  padding: 0 15px;
}
@media (min-width: 1280px) {
  .slider__inner {
    gap: 16px;
    padding: 0 16px;
  }
}
@media (min-width: 1920px) {
  .slider__inner {
    gap: 24px;
    padding: 0 24px;
  }
}

.slide {
  flex: 0 1 100%;
  width: 315px;
  height: 591px;
}
.slide:nth-child(1) {
  background-color: red;
}
.slide:nth-child(2) {
  background-color: blue;
}
.slide:nth-child(3) {
  background-color: green;
}
@media (min-width: 1280px) {
  .slide {
    width: 1090px;
    height: 760px;
  }
}
@media (min-width: 1920px) {
  .slide {
    width: 1556px;
    height: 1020px;
  }
}

.card {
  grid-area: b;
  background-color: #fff;
  padding: 0 15px;
}
.card.banner--2 {
  grid-area: b2;
}
@media (min-width: 1280px) {
  .card {
    padding-bottom: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 1920px) {
  .card {
    padding-bottom: 16px;
    padding-right: 16px;
  }
  .card.banner--2 {
    display: none;
  }
}
.card__banner {
  border: 0.125rem solid #000;
  width: auto;
  height: 11.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .card__banner {
    width: 100%;
    height: 100%;
  }
}
.card__text {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.33rem;
  line-height: 1.67rem;
  letter-spacing: 0.4rem;
}
@media (min-width: 1280px) {
  .card__text {
    font-size: 1.67rem;
    line-height: 2rem;
  }
}
@media (min-width: 1920px) {
  .card__text {
    font-size: 2.33rem;
    line-height: 2.67rem;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
}
.product-card__info {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 11px;
  line-height: 15px;
}
.product-card__image {
  width: 165px;
  height: 186px;
  object-fit: cover;
}
@media (min-width: 1280px) {
  .product-card:last-child {
    display: none;
  }
  .product-card__image {
    width: 221px;
    height: 250px;
  }
}
@media (min-width: 1920px) {
  .product-card:last-child {
    display: flex;
  }
  .product-card__image {
    width: 292px;
    height: 330px;
  }
}

.items {
  grid-area: i;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 15px;
}
.items.items--2 {
  grid-area: i2;
}
@media (min-width: 1920px) {
  .items.items--2 {
    display: none;
  }
}
@media (min-width: 1280px) {
  .items {
    flex-wrap: nowrap;
    gap: 16px;
  }
}
@media (min-width: 1920px) {
  .items {
    gap: 24px;
  }
}

.item {
  width: 165px;
  height: 186px;
  background-color: pink;
}
@media (min-width: 1280px) {
  .item {
    width: 221px;
    height: 250px;
  }
  .item:last-child {
    display: none;
  }
}
@media (min-width: 1920px) {
  .item {
    width: 292px;
    height: 330px;
  }
  .item:last-child {
    display: block;
  }
}

.postcards {
  grid-area: p;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (min-width: 1280px) {
  .postcards {
    flex-direction: row;
    gap: 0;
  }
}
.postcards .postcard {
  width: 100%;
  height: 272px;
  padding: 0 0 15px 15px;
  background-color: gray;
  display: flex;
  align-items: end;
  background-image: url("../images/okt2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.postcards .postcard__btn {
  width: auto;
  height: auto;
  background-color: #fff;
  border: 1px solid #000;
  padding: 7px 9px;
}
.postcards .postcard__text {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 1.33rem;
  line-height: 1.67rem;
  letter-spacing: 0.4rem;
}
@media (min-width: 1280px) {
  .postcards .postcard {
    height: 450px;
  }
  .postcards .postcard__text {
    font-size: 1.67rem;
    line-height: 2rem;
    letter-spacing: 0.4rem;
  }
}
@media (min-width: 1920px) {
  .postcards .postcard {
    height: 673px;
  }
  .postcards .postcard__text {
    font-size: 2.33rem;
    line-height: 2.67rem;
    letter-spacing: 0.4rem;
  }
}

.events {
  grid-area: e;
  display: flex;
}

.event-card {
  width: 100%;
  height: 130px;
  padding: 5px 15px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #fff;
}
.event-card:last-child {
  display: none;
}
.event-card__title {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 40px;
}
.event-card__text {
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 15px;
}
.event-card__btn {
  border: 1px solid #000;
  padding: 5px 15px;
  font-size: 11px;
}
@media (min-width: 1280px) {
  .event-card:last-child {
    display: block;
    border-left: 1px solid #000;
  }
}
@media (min-width: 1920px) {
  .event-card {
    height: 195px;
  }
  .event-card__title {
    font-size: 4rem;
    line-height: 4.33rem;
  }
  .event-card__text {
    font-size: 1.33rem;
    line-height: 1.67rem;
  }
  .event-card__btn {
    font-size: 1.33rem;
    line-height: 1.67rem;
  }
}

.articles {
  grid-area: a;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 15px;
}
@media (min-width: 1280px) {
  .articles {
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 16px;
    padding: 0 16px;
  }
}
.articles .article-card {
  width: 165px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.articles .article-card__image {
  width: 165px;
  height: 93px;
  background-color: pink;
}
.articles .article-card__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}
.articles .article-card__text {
  font-size: 11px;
  line-height: 1.25rem;
}
.articles .article-card__btn {
  border: 1px solid #000;
  padding: 5px 15px;
  font-size: 11px;
}
@media (min-width: 1280px) {
  .articles .article-card {
    width: 284px;
    height: 80px;
    flex-direction: row;
    gap: 15px;
  }
  .articles .article-card__image {
    width: 142px;
    height: 80px;
  }
}
@media (min-width: 1920px) {
  .articles .article-card {
    width: 450px;
    height: 140px;
    flex-direction: row;
    gap: 24px;
  }
  .articles .article-card__image {
    width: 246px;
    height: 140px;
  }
}

.contacts {
  grid-area: c;
  display: flex;
  flex-direction: column;
}
.contacts .subscribe-card {
  width: 100%;
  height: 540px;
  padding: 15px;
  background-image: url("../images/okt1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contacts .subscribe-card__wrapper {
  width: 345px;
  height: 138px;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
}
.contacts .subscribe-card__top {
  width: 55%;
  height: 35px;
  border-bottom: 1px solid #000;
  rotate: 338deg;
}
.contacts .subscribe-card__top::after {
  content: "";
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
  position: absolute;
  left: -149px;
  top: -61px;
  rotate: 45deg;
}
.contacts .subscribe-card__bottom {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #000;
  display: flex;
}
.contacts .subscribe-card__left {
  width: 65%;
  border-right: 1px solid #000;
  padding: 5px;
}
.contacts .subscribe-card__right {
  width: 35%;
  padding: 5px;
}
.contacts .subscribe-card__btn {
  font-size: 0.92rem;
  line-height: 1.25rem;
}
.contacts .subscribe-card__input {
  border: none;
  background-color: transparent;
}
.contacts .subscribe-card__input::placeholder {
  color: #000;
  font-size: 0.92rem;
  line-height: 1.25rem;
}
.contacts .subscribe-card__input:focus {
  outline: none;
}
@media (min-width: 1280px) {
  .contacts .subscribe-card {
    height: 490px;
    display: flex;
    align-items: flex-end;
  }
}
@media (min-width: 1920px) {
  .contacts .subscribe-card {
    height: 735px;
  }
}
.contacts__info {
  width: 100%;
  height: 80px;
  background-color: pink;
}
@media (min-width: 1280px) {
  .contacts__info {
    height: 57px;
  }
}
@media (min-width: 1920px) {
  .contacts__info {
    height: 85px;
  }
}