<div class="contacts">
  <div class="contacts__info">
    <p class="contacts__address">
      <a href="https://yandex.com/maps/-/CDblvUMo"
        >Moscow, Bolshaya Molchanovka, 30,</a
      >
    </p>
    <p class="contacts__phone">
      <a href="tel:84951392560">Tel. 8-495-139-25-60</a>
    </p>
    <p class="contacts__date">Mon.-Thu. 11.00-21.00, Fri.-Sun. 11-00-22.00</p>
  </div>
  <div class="contacts__social">
    <p class="contacts__text"><a href="#">Facebook</a></p>
    <p class="contacts__text"><a href="#">Instagram</a></p>
    <p class="contacts__text"><a href="#">About</a></p>
    <p class="contacts__text"><a href="#">Legal</a></p>
  </div>
</div>
