<div class="main-page">
  <div class="main-page__header">
    <form action="#">
      <input
        class="main-page__input"
        type="text"
        placeholder="TYPE TO SEARCH..."
        autocomplete="off"
      />
    </form>
  </div>
  <div class="main-page__swiper">
    <div class="main-page__slide">
      <img src="../images/okt.jpeg" alt="first slide" />
    </div>
    <div class="main-page__slide">
      <img src="../images/okt1.jpeg" alt="second slide" />
    </div>
    <div class="main-page__slide">
      <img src="../images/okt.jpeg" alt="third slide" />
    </div>
  </div>
  <div class="main-page__footer">
    <a class="main-page__menu" href="#">menu</a>
    <h1 class="main-page__title">октябрь</h1>
    <a class="main-page__cart" href="#">cart</a>
  </div>
</div>
